### Preprocessing

A bit about the data: 
- 11350 unique users
- 3600 unique games

In [7]:
import pandas as pd
import numpy as np
import random

In [2]:
raw_file_location = "../data/raw/steam-200k.csv"
processed_directory = "../data/processed"
header_names = ['user_id', 'game_name', 'purchase-play', 'indicator-hours', 'empty']
data = pd.read_csv(raw_file_location, names=header_names)

### Tidying Data

In [3]:
data.head()

     user_id                   game_name purchase-play  indicator-hours  empty
0  151603712  The Elder Scrolls V Skyrim      purchase              1.0      0
1  151603712  The Elder Scrolls V Skyrim          play            273.0      0
2  151603712                   Fallout 4      purchase              1.0      0
3  151603712                   Fallout 4          play             87.0      0
4  151603712                       Spore      purchase              1.0      0

In [4]:
"""
Is purchase always associated with a 1.0?
The answer is yes. 
"""
#subset data into a purchase dataset and a play dataset based on purchase-play
purchase = data.loc[data['purchase-play'] == 'purchase']
play = data.loc[data['purchase-play'] == 'play']

In [5]:
print("The the average of purchase is: ", np.mean(purchase['indicator-hours']))
purchase.head()

('The the average of purchase is: ', 1.0)

     user_id                   game_name purchase-play  indicator-hours  empty
0  151603712  The Elder Scrolls V Skyrim      purchase              1.0      0
2  151603712                   Fallout 4      purchase              1.0      0
4  151603712                       Spore      purchase              1.0      0
6  151603712           Fallout New Vegas      purchase              1.0      0
8  151603712               Left 4 Dead 2      purchase              1.0      0

In [6]:
print("The the average hours played is: ", np.mean(play['indicator-hours']))
play.head()

('The the average hours played is: ', 48.878063243911484)

     user_id                   game_name purchase-play  indicator-hours  empty
1  151603712  The Elder Scrolls V Skyrim          play            273.0      0
3  151603712                   Fallout 4          play             87.0      0
5  151603712                       Spore          play             14.9      0
7  151603712           Fallout New Vegas          play             12.1      0
9  151603712               Left 4 Dead 2          play              8.9      0

In [7]:
"""Remove the empty column"""
play = play[['user_id', 'game_name', 'indicator-hours']]
play.head()

     user_id                   game_name  indicator-hours
1  151603712  The Elder Scrolls V Skyrim            273.0
3  151603712                   Fallout 4             87.0
5  151603712                       Spore             14.9
7  151603712           Fallout New Vegas             12.1
9  151603712               Left 4 Dead 2              8.9

In [8]:
"""Save this file as a csv"""
play.to_csv(processed_directory+"/play_tidy.csv")

### One-hot encoding Tidy Data Into Sparse Matrix

In [5]:
"""Read the Data"""
play_tidy = pd.read_csv(processed_directory+"/play_tidy.csv", ",")
play_tidy.head()

   Unnamed: 0    user_id                   game_name  indicator-hours
0           1  151603712  The Elder Scrolls V Skyrim            273.0
1           3  151603712                   Fallout 4             87.0
2           5  151603712                       Spore             14.9
3           7  151603712           Fallout New Vegas             12.1
4           9  151603712               Left 4 Dead 2              8.9

In [18]:
"""sub sample the games to 100 from 3.6k games for a simple model"""
unique_users = play_tidy['user_id'].unique()
unique_games = play_tidy['game_name'].unique()

#generate random 100 games
random_indices = random.sample(range(0, len(unique_games)), 100)
random_100games = unique_games[random_indices]

#select games from dataframe
play_tidy_100games = play_tidy.loc[play_tidy['game_name'].isin(random_games_100)]
len(play_tidy_100games['user_id'].unique()) #931 unique users
play_tidy_100games = play_tidy_100games.drop(['Unnamed: 0'], axis=1)

#save to csv
play_tidy_100games.to_csv(processed_directory+"/play_tidy_100games.csv")

play_tidy_100games.head()

       user_id            game_name  indicator-hours
20   151603712              Eldevin              0.5
166   53875128         Race The Sun              0.8
176   53875128  The Stanley Parable              0.6
182   53875128               Unepic              0.6
192   53875128       Galcon Legends              0.5

In [35]:
"""One Hot Encode Results"""
play_dummies = pd.get_dummies(play_tidy_100games['game_name'])
one_hot_100games = pd.concat([play_tidy_100games['user_id'], play_dummies], axis=1)
one_hot_100games.to_csv(processed_directory+"/one_hot_100games.csv")

one_hot_100games.describe()

,user_id,Agarest Generations of War,Agarest Zero,Agricultural Simulator 2011 Extended Edition,Alien Shooter Vengeance,Alien Swarm,America's Army Proving Grounds,Another World,Arcadia,Assassins Creed Unity,...,War of the Roses Balance Beta,"War, the Game","Warhammer 40,000 Dawn of War Dark Crusade","Warhammer 40,000 Space Marine",Waves,Why So Evil,Your Doodles Are Bugged!,Yury,iBomber Attack,iO
count,1.388000e+03,1388.000000,1388.000000,1388.000000,1388.000000,1388.000000,1388.000000,1388.000000,1388.000000,1388.000000,...,1388.000000,1388.000000,1388.000000,1388.000000,1388.000000,1388.000000,1388.000000,1388.000000,1388.000000,1388.000000
mean,1.055674e+08,0.005764,0.002161,0.000720,0.002161,0.208213,0.038184,0.003602,0.000720,0.012248,...,0.002882,0.000720,0.016571,0.035303,0.000720,0.003602,0.000720,0.002161,0.000720,0.000720
std,7.648893e+07,0.075727,0.046457,0.026841,0.046457,0.406177,0.191710,0.059933,0.026841,0.110030,...,0.053625,0.026841,0.127702,0.184610,0.026841,0.059933,0.026841,0.046457,0.026841,0.026841
min,5.250000e+03,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.745772e+07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,8.166903e+07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.572620e+08,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,3.089717e+08,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [50]:
"""Collapsed One-Hot by User"""
one_hot_collapsed = one_hot_100games.groupby(['user_id']).sum()
one_hot_collapsed.to_csv(processed_directory+"/one_hot_collapsed.csv")
one_hot_collapsed

,Agarest Generations of War,Agarest Zero,Agricultural Simulator 2011 Extended Edition,Alien Shooter Vengeance,Alien Swarm,America's Army Proving Grounds,Another World,Arcadia,Assassins Creed Unity,BAD END,...,War of the Roses Balance Beta,"War, the Game","Warhammer 40,000 Dawn of War Dark Crusade","Warhammer 40,000 Space Marine",Waves,Why So Evil,Your Doodles Are Bugged!,Yury,iBomber Attack,iO
user_id,,,,,,,,,,,,,,,,,,,,,
5250,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
76767,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
298950,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
975449,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1364546,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1936551,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1950243,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2110581,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2259650,0,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2753525,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3449240,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3527485,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3783783,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4595423,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5387470,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5990132,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6717871,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
7203603,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7907686,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8259307,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8585433,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8784496,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8865447,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9128105,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9563573,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9823354,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10162301,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10253354,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10450544,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10478285,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285536388,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
287317468,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
287668512,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
288274882,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
290700906,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
291070006,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
292070264,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
293204747,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
293244157,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
293303005,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
295885446,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
297279953,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
297340487,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
298327915,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
298902962,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
299510506,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
300248088,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
300271429,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
300669819,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
301005939,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
301432974,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
301477644,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
302472242,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
302708380,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
302916505,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
303320631,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
304236660,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
304971849,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
306971738,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
308971716,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
"""One Hot Encoding the data"""
# play_one = pd.DataFrame({'user':unique_users})
# zero_array = np.zeros(unique_users.shape)
# for i in unique_games: 
#     play_one[i] = zero_array

# """faster way"""
# play_dummies = pd.get_dummies(play['game_name'])
# play_dummies.head()

### CustomerID, GameID, and Hours Played Files

In [ ]:
ticker = 0
for j in unique_users:  
    if j%(len(unique_users)/10)==0: 
        print(str(ticker*10)+"%")
        ticker += 1
        
    temp = play.loc[data['user_id'] == j]
    games = np.array(temp['game_name'])
    hours = np.array(temp['indicator-hours'])
    for k, game in enumerate(games): 
        indices = play_one.loc[play_one['user']==j].index
        play_one[game][indices] = hours[k]

In [35]:
#data preprocessing

def getCustomerID(user,users):
    return int(users.index(user))

def getGameID(game,games):
    return int(games.index(game))

#create customers list
customers=[]
for cust in unique_users:
    customers.append(cust)
#create customers file
customers_df= pd.DataFrame(customers, columns=['user'])
customers_df.to_csv(processed_directory+"/customers.csv")

#create games list
games=[]
for game in unique_games:
    games.append(game)
#create games file
games_df= pd.DataFrame(games, columns=['game'])
games_df.to_csv(processed_directory+"/games.csv")

In [36]:
#create hours played file
hours_df= pd.DataFrame(columns=['userIndex','gameID','hours'])
for index, row in play.iterrows():
    hours_df = hours_df.append({'userIndex':getCustomerID(row['user_id'],customers),'gameID':getGameID(row['game_name'],games),'hours':row['indicator-hours']}, ignore_index=True)
hours_df.to_csv(processed_directory+"/hours.csv")
print 'done'

done

In [37]:
print hours_df.head()

   userIndex  gameID  hours
0        0.0     0.0  273.0
1        0.0     1.0   87.0
2        0.0     2.0   14.9
3        0.0     3.0   12.1
4        0.0     4.0    8.9